<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>+Cuidado</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="/Dash/css/simplebar.css">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="/Dash/css/feather.css">
    <link rel="stylesheet" href="/Dash/css/select2.css">
    <link rel="stylesheet" href="/Dash/css/dropzone.css">
    <link rel="stylesheet" href="/Dash/css/uppy.min.css">
    <link rel="stylesheet" href="/Dash/css/jquery.steps.css">
    <link rel="stylesheet" href="/Dash/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/Dash/css/quill.snow.css">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="/Dash/css/daterangepicker.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="/Dash/css/app-light.css" id="lightTheme">
    <link rel="stylesheet" href="/Dash/css/app-dark.css" id="darkTheme" disabled>
    <link rel="stylesheet" href="/Dash/css/feather.css">
    <link rel="stylesheet" href="/Dash/css/dataTables.bootstrap4.css">
    <!-- Date Range Picker CSS -->
   

    <style>
        .notification{
       position: absolute;
     background-color: #FB404B;
     text-align: center;
     border-radius: 10px;
     min-width: 18px;
     padding: 0 5px;
     height: 18px;
     font-size: 12px;
     color: #FFFFFF;
     font-weight: bold;
     line-height: 18px;
     top: 0;
     left: 7px;
      }
     </style>
  </head>