<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  
<!-- Mirrored from prium.github.io/falcon/v3.4.0/pages/authentication/wizard.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 30 May 2022 17:34:41 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title 
Aceito os termos e a política de privacidade--> 
    <!-- ===============================================-->
    <title>SaqCapital</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="/conta/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/conta/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/conta/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/conta/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="/conta/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="/conta/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="/conta/assets/js/config.js"></script>
    <script src="/conta/vendors/overlayscrollbars/OverlayScrollbars.min.js"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="/conta/vendors/flatpickr/flatpickr.min.css" rel="stylesheet">
    <link href="/conta/vendors/dropzone/dropzone.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="/conta/vendors/overlayscrollbars/OverlayScrollbars.min.css" rel="stylesheet">
    <link href="/conta/assets/css/theme-rtl.min.css" rel="stylesheet" id="style-rtl">
    <link href="/conta/assets/css/theme.min.css" rel="stylesheet" id="style-default">
    <link href="/conta/assets/css/user-rtl.min.css" rel="stylesheet" id="user-style-rtl">
    <link href="/conta/assets/css/user.min.css" rel="stylesheet" id="user-style-default">
    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
  </head>

  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="container" data-layout="container">
        <script>
          var isFluid = JSON.parse(localStorage.getItem('isFluid'));
          if (isFluid) {
            var container = document.querySelector('[data-layout]');
            container.classList.remove('container');
            container.classList.add('container-fluid');
          }
        </script>
        <div class="row justify-content-center pt-6">
          <div class="col-sm-10 col-lg-7 col-xxl-5"><a class="d-flex flex-center mb-4" href="/"><span class="font-sans-serif fw-bolder fs-4 d-inline-block">SaqCapital</span></a>
            <div class="card theme-wizard mb-5" id="wizard">
              <div class="card-header bg-light pt-3 pb-2">
                <ul class="nav justify-content-between nav-wizard">
                  <li class="nav-item"><a class="nav-link active fw-semi-bold" href="#bootstrap-wizard-tab1" data-bs-toggle="tab" data-wizard-step="data-wizard-step"><span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-lock"></span></span></span><span class="d-none d-md-block mt-1 fs--1">Conta</span></a></li>
                  <li class="nav-item"><a class="nav-link fw-semi-bold" href="#bootstrap-wizard-tab2" data-bs-toggle="tab" data-wizard-step="data-wizard-step"><span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-user"></span></span></span><span class="d-none d-md-block mt-1 fs--1">Dados Pessoais</span></a></li>
                  <li class="nav-item"><a class="nav-link fw-semi-bold" href="#bootstrap-wizard-tab3" data-bs-toggle="tab" data-wizard-step="data-wizard-step"><span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-dollar-sign"></span></span></span><span class="d-none d-md-block mt-1 fs--1">Endereco</span></a></li>
                  <li class="nav-item"><a class="nav-link fw-semi-bold" href="#bootstrap-wizard-tab4" data-bs-toggle="tab" data-wizard-step="data-wizard-step"><span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-thumbs-up"></span></span></span><span class="d-none d-md-block mt-1 fs--1">Concluido</span></a></li>
                </ul>
              </div>
              <div class="card-body py-4" id="wizard-controller">
                <form action="/cadastarUtilizador" method="post" class="tab-content">
                  <div class="tab-pane active px-sm-3 px-md-5" role="tabpanel" aria-labelledby="bootstrap-wizard-tab1" id="bootstrap-wizard-tab1">
                    <div class="needs-validation" novalidate="novalidate">
                      <div class="mb-3"><label class="form-label" for="bootstrap-wizard-wizard-name">Nome*</label><input class="form-control" type="text" name="nome" placeholder="Nome Completo" id="bootstrap-wizard-wizard-name" /></div>
                      <div class="mb-3"><label class="form-label" for="bootstrap-wizard-wizard-name">Username*</label><input class="form-control" type="text" name="username" placeholder="Username" id="bootstrap-wizard-wizard-name" /></div>
                      <div class="mb-3"><label class="form-label" for="bootstrap-wizard-wizard-email">Email*</label><input class="form-control" type="email" name="email" placeholder="Endereço email" pattern="^([a-zA-Z0-9_.-])+@(([a-zA-Z0-9-])+.)+([a-zA-Z0-9]{2,4})+$" required="required" id="bootstrap-wizard-wizard-email" data-wizard-validate-email="true" />
                        <div class="invalid-feedback">Tu Precisas adiconar um email</div>
                      </div>
                      <div class="row g-2">
                        <div class="col-6">
                          <div class="mb-3"><label class="form-label" for="bootstrap-wizard-wizard-password">Password*</label><input class="form-control" type="password" name="senha" placeholder="senhaPaciente" required="required" id="bootstrap-wizard-wizard-password" data-wizard-validate-password="true" />
                            <div class="invalid-feedback">Digite sua password</div>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="mb-3"><label class="form-label" for="bootstrap-wizard-wizard-confirm-password">Confirmar Password*</label><input class="form-control" type="password" name="senha2" placeholder="Confirmar Password" required="required" id="bootstrap-wizard-wizard-confirm-password" data-wizard-validate-confirm-password="true" />
                            <div class="invalid-feedback">
                              As senhas precisam corresponder</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-check"><input class="form-check-input" type="checkbox" name="terms" required="required" checked="checked" id="bootstrap-wizard-wizard-checkbox" /><label class="form-check-label" for="bootstrap-wizard-wizard-checkbox"> 
                         Aceito os <a href="#!">termos </a>e a <a href="#!">política de privacidade</a></label></div>
                    </div>
                  </div>
                  <div class="tab-pane px-sm-3 px-md-5" role="tabpanel" aria-labelledby="bootstrap-wizard-tab2" id="bootstrap-wizard-tab2">
                    <div>
                   
                      <div class="mb-3"><label class="form-label" for="bootstrap-wizard-gender">Genero</label><select class="form-select" name="genero" id="bootstrap-wizard-gender">
                          <option value="Masculino">Masculino</option>
                          <option value="Feminino">Feminino</option>
                        </select></div>
                      <div class="mb-3"><label class="form-label" for="bootstrap-wizard-wizard-phone">Telefone</label><input class="form-control" type="text" name="tell" placeholder="Phone" id="bootstrap-wizard-wizard-phone" /></div>
                      <div class="mb-3"><label class="form-label" for="bootstrap-wizard-wizard-datepicker">Data de Nascimento</label><input  class="form-control datetimepicker" type="date" placeholder="d/m/y"  id="bootstrap-wizard-wizard-datepicker" name="nascimento"/></div>
                     
                    </div>
                  </div>
                  <div class="tab-pane px-sm-3 px-md-5" role="tabpanel" aria-labelledby="bootstrap-wizard-tab3" id="bootstrap-wizard-tab3">
                    <div class="form-validation">
                     
                      <div class="row g-2">
                        <div class="col-6">
                          <div class="form-group mb-0"><label class="form-label" for="bootstrap-wizard-card-holder-country">Provincia</label></div>
                          <select required class="form-control " name="provincia" id="slctprovincia" onchange="populate(this.id,'slctmunicipio')" autofocus>
								  
                            <option disabled="disabled" selected="selected"> Escolha a província</option>
                            <option value="luanda">Luanda</option>
                               <option value="benguela">Benguela</option>
                               <option value="bengo">Bengo</option>
                               <option value="bié">Bié</option>
                               <option value="cabinda">Cabinda</option>
                               <option value="cuando-cubango">Cuando-Cubango</option>
                               <option value="cuanza norte">Cuanza Norte</option>
                               <option value="cuanza sul">Cuanza Sul</option>
                               <option value="cunene">Cunene</option>
                               <option value="huambo">Huambo</option>
                               <option value="huíla">Huíla</option>
                               <option value="lunda norte">Lunda Norte</option>
                               <option value="lunda sul">Lunda Sul</option>
                               <option value="malange">Malange</option>
                               <option value="moxico">Moxico</option>
                               <option value="namibe">Namibe</option>
                               <option value="uíge">Uíge</option>
                               <option value="zaire">Zaire</option>
                          
                          </select>
                        </div>
                        <div class="col-6">
                          <div class="form-group mb-0"><label class="form-label" for="bootstrap-wizard-card-holder-country">Municipio</label>
                            <select autofocus required name="municipio" id="slctmunicipio" class="form-control"> <option disabled="disabled" selected="selected"> Escolha o municipio</option></select> 
                        
                          </div>
                        </div>
                      </div>
                      <div class="mb-3"><label class="form-label" for="bootstrap-wizard-wizard-phone">Endereço*</label><input class="form-control" type="text" name="endereco" placeholder="Endereço" id="bootstrap-wizard-wizard-phone" /></div>
                    </div>
                  </div>
                  <div class="tab-pane text-center px-sm-3 px-md-5" role="tabpanel" aria-labelledby="bootstrap-wizard-tab4" id="bootstrap-wizard-tab4">
                    <div class="wizard-lottie-wrapper">
                      <div class="lottie wizard-lottie mx-auto my-3" data-options='{"path":"/conta/assets/img/animated-icons/celebration.json"}'></div>
                    </div>
                    <h4 class="mb-1"> Sua conta está pronta!</h4>
                    <p>
                      Agora você pode acessar sua conta</p><button type="submit" class="btn btn-primary px-5 my-3">Cadastar</button>
                  </div>
                </form>
              </div>
              <div class="card-footer bg-light">
                <div class="px-sm-3 px-md-5">
                  <ul class="pager wizard list-inline mb-0">
                    <li class="previous"><button class="btn btn-link ps-0" type="button"><span class="fas fa-chevron-left me-2" data-fa-transform="shrink-3"></span>Prev</button></li>
                    <li class="next"><button class="btn btn-primary px-5 px-sm-6" type="submit">Next<span class="fas fa-chevron-right ms-2" data-fa-transform="shrink-3"> </span></button></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 400px">
              <div class="modal-content position-relative p-5">
                <div class="d-flex align-items-center">
                  <div class="lottie me-3" data-options='{"path":"/conta/assets/img/animated-icons/warning-light.json"}'></div>
                  <div class="flex-1"><button class="btn btn-link text-danger position-absolute top-0 end-0 mt-2 me-2" data-bs-dismiss="modal"><span class="fas fa-times"></span></button>
                    <p class="mb-0">You don't have access to the link. Please try again.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main><!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

  

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="/conta/vendors/popper/popper.min.js"></script>
    <script src="/conta/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/conta/vendors/anchorjs/anchor.min.js"></script>
    <script src="/conta/vendors/is/is.min.js"></script>
    <script src="/conta/assets/js/flatpickr.js"></script>
    <script src="/conta/vendors/dropzone/dropzone.min.js"></script>
    <script src="/conta/vendors/lottie/lottie.min.js"></script>
    <script src="/conta/vendors/validator/validator.min.js"></script>
    <script src="/conta/vendors/fontawesome/all.min.js"></script>
    <script src="/conta/vendors/lodash/lodash.min.js"></script>
    <script src="//../polyfill.io/v3/polyfill.min58be.js?features=window.scroll"></script>
    <script src="/conta/vendors/list.js/list.min.js"></script>
    <script src="/conta/assets/js/theme.js"></script>
    <script src="/script/ApiProvincia-municipio.js"></script>
    <script src="/sweetalert/sweetalert2.all.min.js"></script>
    <% if(errado.length >0) {%>
        <script>
          Swal.fire({
  icon: 'error',
  title: 'Opa...',
  text: '<%=errado %>!',
  
  })
          
        </script>
       
        <% }else if(info.length >0) {%>
          <script>
            Swal.fire({
    icon: 'info',
    title: 'Opa...',
    text: '<%=info %>!',
    
    })
            
          </script>
          <% }%>
  </body>


<!-- Mirrored from prium.github.io/falcon/v3.4.0/pages/authentication/wizard.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 30 May 2022 17:34:42 GMT -->
</html>