<!doctype html>
<html lang="en">
 <%- include('partials/head') %> 
 
  <body class="vertical  light  ">
    <div class="wrapper">
    <%- include('partials/navbar') %> 
    <%- include('partials/sidebar') %> 
     
      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="row align-items-center mb-2">
               
               <br>
              </div>
              <div class="mb-2 align-items-center">
                <div class="card shadow mb-4">
                  <div class="card-body">
                    <div class="row mt-1 align-items-center">
                      <div class="col-12 col-lg-4 text-left pl-4">
                        <p class="mb-1 small text-muted"></p>
                        <span class="h3">Relatório Geral</span>
                        <span class="small text-muted">+20%</span>
                        <span class="fe fe-arrow-up text-success fe-12"></span>
                        <p class="text-muted mt-2"> Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui </p>
                     
                      </div>
                      <div class="col-6 col-lg-2 text-center py-4">
                        <p class="mb-1 small text-muted">Today</p>
                        <span class="h3">$2600</span><br />
                        <span class="small text-muted">+20%</span>
                        <span class="fe fe-arrow-up text-success fe-12"></span>
                      </div>
                      <div class="col-6 col-lg-2 text-center py-4 mb-2">
                        <p class="mb-1 small text-muted">Goal Value</p>
                        <span class="h3">$260</span><br />
                        <span class="small text-muted">+6%</span>
                        <span class="fe fe-arrow-up text-success fe-12"></span>
                      </div>
                      <div class="col-6 col-lg-2 text-center py-4">
                        <p class="mb-1 small text-muted">Completions</p>
                        <span class="h3">26</span><br />
                        <span class="small text-muted">+20%</span>
                        <span class="fe fe-arrow-up text-success fe-12"></span>
                      </div>
                      <div class="col-6 col-lg-2 text-center py-4">
                        <p class="mb-1 small text-muted">Conversion</p>
                        <span class="h3">6%</span><br />
                        <span class="small text-muted">-2%</span>
                        <span class="fe fe-arrow-down text-danger fe-12"></span>
                      </div>
                    </div>
                    
                  </div> <!-- .card-body -->
                </div> <!-- .card -->
              </div>
              <div class="row items-align-baseline">
                <div class="col-md-12 col-lg-6">
                  <div class="card shadow eq-card mb-4">
                    <div class="card-body mb-n3">
                      <div class="row items-align-baseline h-100">
                      
                        <div class="col-md-6 border-top py-3">
                          <form action="/relatorioMensais"   method="post">
             
             
                            <div class="form-group col-md-12">
                              <label for="inputCity">De</label>
                              <input type="date" class="form-control" name="inicio" id="inputCity">
                            </div>
                            <div class="form-group col-md-12">
                              <label for="inputCity">Até</label>
                              <input type="date" class="form-control" name="fim" id="inputCity">
                            </div>
                           
                           
                            <div class="form-group ">
                            <label for="inputCity">.</label>
                              <input type="submit" class="form-control tn btn-primary btn-round" value="Gerar Relatório">
                            </div>
                         
                           
                         
                        </form>
                        </div> <!-- .col -->
                        <div class="col-md-6 border-top py-3">
                          <p class="mb-1"><strong class="text-muted">Revenue</strong></p>
                          <h4 class="mb-0">Relatorio Mensal</h4>
                          <p class="small text-muted mb-0"><span>-18.9% Last week</span></p>
                        </div> <!-- .col -->
                      </div>
                    </div> <!-- .card-body -->
                  </div> <!-- .card -->
                </div> <!-- .col -->
                <div class="col-md-12 col-lg-6">
                  <div class="card shadow eq-card mb-4">
                    <div class="card-body mb-n3">
                      <div class="row items-align-baseline h-100">
                        <div class="col-md-6 border-top py-3">
                          <p class="mb-1"><strong class="text-muted">Revenue</strong></p>
                          <h4 class="mb-0">Relatorio Geral</h4>
                          <p class="small text-muted mb-0"><span>-18.9% Last week</span></p>
                        </div>
                      
                        <div class="col-md-6 border-top py-3">
                         
                           <br>
                           <br>
                           <br>
                           <br>
                           <br>
                           <br>
                           <br>
                           <br>
                           <br>
                           <a href="relatorioGeral">
                           <button class="btn btn-primary"> Geral Relatório</button>
                          </a>
                        </div> <!-- .col -->
                        <!-- .col -->
                      </div>
                    </div> <!-- .card-body -->
                  </div> <!-- .card -->
                </div> <!-- .col -->
                <!-- .col-md -->
              </div> <!-- .row -->
            <!-- .row-->
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
<%- include('partials/modal') %> 
</main> <!-- main -->
</div> <!-- .wrapper -->
<script src="/Dash/js/jquery.min.js"></script>
<script src="/Dash/js/popper.min.js"></script>
<script src="/Dash/js/moment.min.js"></script>
<script src="/Dash/js/bootstrap.min.js"></script>
<script src="/Dash/js/simplebar.min.js"></script>
<script src='/Dash/js/daterangepicker.js'></script>
<script src='/Dash/js/jquery.stickOnScroll.js'></script>
<script src="/Dash/js/tinycolor-min.js"></script>
<script src="/Dash/js/config.js"></script>
<script src="/Dash/js/d3.min.js"></script>
<script src="/Dash/js/topojson.min.js"></script>
<script src="/Dash/js/datamaps.all.min.js"></script>
<script src="/Dash/js/datamaps-zoomto.js"></script>
<script src="/Dash/js/datamaps.custom.js"></script>
<script src="/Dash/js/Chart.min.js"></script>
<script>
/* defind global options */
Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
Chart.defaults.global.defaultFontColor = colors.mutedColor;
</script>
<script src="/Dash/js/gauge.min.js"></script>
<script src="/Dash/js/jquery.sparkline.min.js"></script>
<script src="/Dash/js/apexcharts.min.js"></script>
<!-- <script src="/Dash/js/apexcharts.custom.js"></script>-->
<script src='/Dash/js/jquery.mask.min.js'></script>
<script src='/Dash/js/select2.min.js'></script>
<script src='/Dash/js/jquery.steps.min.js'></script>
<script src='/Dash/js/jquery.validate.min.js'></script>
<script src='/Dash/js/jquery.timepicker.js'></script>
<script src='/Dash/js/dropzone.min.js'></script>
<script src='/Dash/js/uppy.min.js'></script>
<script src='/Dash/js/quill.min.js'></script>

<script src="/Dash/js/apps.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
<script>
window.dataLayer = window.dataLayer || [];

function gtag()
{
  dataLayer.push(arguments);
}
gtag('js', new Date());
gtag('config', 'UA-56159088-1');
</script>

  </body>
</html>