<aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
    <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
      <i class="fe fe-x"><span class="sr-only"></span></i>
    </a>
    <nav class="vertnav navbar navbar-light">
      <!-- nav bar -->
      <div class="w-100 mb-4 d-flex">
        <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="/dashboard">
          <img src="/webSite/img/icon/icon-02-primary.png" alt="" id="logo" >
          
        </a>
      </div>
      <ul class="navbar-nav flex-fill w-100 mb-2">
        <li class="nav-item dropdown">
          <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
            <i class="fe fe-home fe-16"></i>
            <span class="ml-3 item-text">Dashboard</span><span class="sr-only">(current)</span>
          </a>
          <ul class="collapse list-unstyled pl-4 w-100" id="dashboard">
            <li class="nav-item active">
              <a class="nav-link pl-3" href="/dashboard"><span class="ml-1 item-text  fe fe-trending-up fe-12"> Estatistica</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link pl-3" href="/Clientes"><span class="ml-1 item-text">Clientes</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link pl-3" href="/Clientes"><span class="ml-1 item-text">Nossos seguros</span>
              </a>
            </li>
           
          </ul>
        </li>
      </ul>
      <p class="text-muted nav-heading mt-4 mb-1">
        <span>Seguro automovel</span>
      </p>
      <ul class="navbar-nav flex-fill w-100 mb-2">
        <li class="nav-item dropdown">
          <a href="#ui-elements" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
            <i class="fe fe-box fe-16"></i>
            <span class="ml-3 item-text">S.A Todos seguros</span>
          </a>
          <ul class="collapse list-unstyled pl-4 w-100" id="ui-elements">
            
            <li class="nav-item">
              <a class="nav-link pl-3" href="/Veiculos"><span class="ml-1 item-text">Viaturas</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link pl-3" href="/Apolice"><span class="ml-1 item-text">Apólices</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-3" href="/Fipe"><span class="ml-1 item-text">Fipe</span></a>
              </li>
          </ul>
          
        </li>
        <li class="nav-item w-100">
          <a class="nav-link" href="/Especialistas">
            <i class="fe fe-layers fe-16"></i>
            <span class="ml-3 item-text">Especialistas</span>
            <span class="badge badge-pill badge-primary">New</span>
          </a>
        </li>
       
        <li class="nav-item dropdown">
          <a href="#contact" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
            <i class="fe fe-book fe-16"></i>
            <span class="ml-3 item-text">Andamento</span>
          </a>
          <ul class="collapse list-unstyled pl-4 w-100" id="contact">
            <a class="nav-link pl-3" href="/Pagamentos"><span class="ml-1">Pagamentos</span></a>
            <a class="nav-link pl-3" href="/Roubo"><span class="ml-1">Roubo de Viatura</span></a>
            
          </ul>
        </li>
        <li class="nav-item w-100">
          <a class="nav-link" href="/relatorioEspecialista">
            <i class="fe fe-layers fe-16"></i>
            <span class="ml-3 item-text">Relatorio Especialista</span>
            <% if(relatorio_s == undefined || relatorio_s.length== 0){%>

              <% }else{%>
                <span class="badge badge-pill badge-danger"> <%= relatorio_s.length %> </span>
                <% } %> 
           
            
          </a>
        </li>
       
      </ul>
      <p class="text-muted nav-heading mt-4 mb-1">
        <span>Seguro de Saúde</span>
      </p>
      <ul class="navbar-nav flex-fill w-100 mb-2">
      
        <li class="nav-item dropdown">
          <a href="#contact" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
            <i class="fe fe-book fe-16"></i>
            <span class="ml-3 item-text">Área saude</span>
          </a>
          <ul class="collapse list-unstyled pl-4 w-100" id="contact">
            <a class="nav-link pl-3" href="/Pagamentos"><span class="ml-1">Medicos Profissionais</span></a>
            <a class="nav-link pl-3" href="/especialidades"><span class="ml-1">Especialidades</span></a>
            <a class="nav-link pl-3" href="/exames"><span class="ml-1">Exames</span></a>
            <a class="nav-link pl-3" href="/Roubo"><span class="ml-1">Clínicas</span></a>
            
          </ul>
        </li>
        <li class="nav-item w-100">
          <a class="nav-link" href="/relatorioEspecialista">
            <i class="fe fe-layers fe-16"></i>
            <span class="ml-3 item-text">Relatorio M.Profissional</span>
    
          </a>
        </li>
         
        <li class="nav-item dropdown">
          <a href="#contact" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
            <i class="fe fe-book fe-16"></i>
            <span class="ml-3 item-text">Consultas</span>
          </a>
          <ul class="collapse list-unstyled pl-4 w-100" id="contact">
            <a class="nav-link pl-3" href="/Pagamentos"><span class="ml-1">Consultas Online</span></a>
            <a class="nav-link pl-3" href="/Roubo"><span class="ml-1">Meu médico</span></a>
            
            
          </ul>
        </li>
       
      
      </ul>
      <p class="text-muted nav-heading mt-4 mb-1">
        <span>Extra</span>
      </p>
      <ul class="navbar-nav flex-fill w-100 mb-2">
        <li class="nav-item dropdown">
          <a href="#pages" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
            <i class="fe fe-file fe-16"></i>
            <span class="ml-3 item-text">Registos</span>
          </a>
          <ul class="collapse list-unstyled pl-4 w-100 w-100" id="pages">
            <li class="nav-item">
              <a class="nav-link pl-3" href="/registosLogin">
                <span class="ml-1 item-text">Login</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link pl-3" href="/registosVeiculo">
                <span class="ml-1 item-text">Viaturas</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link pl-3" href="/registosmarcacao">
                <span class="ml-1 item-text">Marcações</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link pl-3" href="./form_advanced.html"><span class="ml-1 item-text">Contactos</span></a>
            </li>
          
          </ul>
        </li>
         <li class="nav-item dropdown">
          <a href="#forms" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
            <i class="fe fe-credit-card fe-16"></i>
            <span class="ml-3 item-text">Lids</span>
          </a>
          <ul class="collapse list-unstyled pl-4 w-100" id="forms">
            <li class="nav-item">
              <a class="nav-link pl-3" href="./form_elements.html"><span class="ml-1 item-text">Inscritos</span></a>
            </li>
           
           
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="#auth" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
            <i class="fe fe-shield fe-16"></i>
            <span class="ml-3 item-text">Relatorio</span>
          </a>
          <ul class="collapse list-unstyled pl-4 w-100" id="auth">
            <a class="nav-link pl-3" href="/clienteSeguro"><span class="ml-1">Cliente-Seguro</span></a>
            <a class="nav-link pl-3" href="/clienteNotificacao"><span class="ml-1">Cliente-Alerta</span></a>
            <a class="nav-link pl-3" href="/relatorio"><span class="ml-1">+Cuidado</span></a>
           
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="#layouts" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
            <i class="fe fe-layout fe-16"></i>
            <span class="ml-3 item-text">Mapa</span>
          </a>
          <ul class="collapse list-unstyled pl-4 w-100" id="layouts">
            <li class="nav-item">
              <a class="nav-link pl-3" href="/Pontos"><span class="ml-1 item-text">Mapa</span></a>
            </li>
          
          </ul>
        </li>
        <li class="nav-item w-100">
          <a class="nav-link" href="/rankAlerta">
            <i class="fe fe-layers fe-16"></i>
            <span class="ml-3 item-text">Rank Alerta</span>
          
           
            
          </a>
        </li>
      </ul>
      <p class="text-muted nav-heading mt-4 mb-1">
        <span>Complementos</span>
      </p>
      <ul class="navbar-nav flex-fill w-100 mb-2">
        <li class="nav-item w-100">
          <a class="nav-link" href="">
            <i class="fe fe-help-circle fe-16"></i>
            <span class="ml-3 item-text">ajuda</span>
          </a>
        </li>
      </ul>
      <div class="btn-box w-100 mt-4 mb-1">
        <a href=""  class="btn mb-2 btn-primary btn-lg btn-block">
          <i class="fe fe-refresh-cw fe-12 mx-2"></i><span class="small">Refresh</span>
        </a>
      </div>
    </nav>
  </aside>